/*
    Gilroy font
    Light       300
    Extra Bold  700

*/

@font-face {
  font-family: 'Gilroy';
  src:  url(fonts/gilroy-light.eot),
        url(fonts/gilroy-light.eot#iefix) format('embedded-opentype'),
        url(fonts/gilroy-light.woff2) format(woff2),
        url(fonts/gilroy-light.woff) format(woff),
        url(fonts/gilroy-light.ttf) format(truetype);
  font-style: normal;
  font-weight: 300;
}


@font-face {
  font-family: 'Gilroy';
  src: url(fonts/gilroy-regular.woff2) format(woff2);
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: 'Gilroy';
  src: url(fonts/gilroy-medium.woff2) format(woff2);
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: 'Gilroy';
  src: url(fonts/gilroy-semi-bold.woff2) format(woff2);
  font-style: normal;
  font-weight: 600;
}

@font-face {
  font-family: 'Gilroy';
  src: url(fonts/gilroy-extra-bold.eot),
       url(fonts/gilroy-extra-bold.eot#iefix) format("embedded-opentype"),
       url(fonts/gilroy-extra-bold.woff2) format(woff2), 
       url(fonts/gilroy-extra-bold.woff) format(woff),
       url(fonts/gilroy-extra-bold.ttf) format(truetype);
  font-style: normal;
  font-weight: 800;
}
